

body {
    background-color: #ffffff;
    margin-left: 20%;
    margin-right: 20%;
    font-family: Consolas;
}
div.page {
    border: 2px dotted black;
    background-color: #fff67b;
    padding: 50px;
}

h1 {
    border-bottom: solid 2px;
    color: black;
    font-family: sans-serif
}
em {
    font-weight: bold;
    text-decoration: underline;
}

.fun {
    font-family: 'Comic Sans MS'
}

blockquote {
    line-height: 1.5em;
}

.code {
    background-color: black;
    color: rgb(184, 184, 184);
    padding: 10px;
    margin: 5px 0px 5px 0px;
    border-left: grey solid 10px;
    border-radius: 5px;
    border-right: black solid 10px;
    line-height: 20px;
}
.comment {
    color: rgb(81, 81, 81);
    padding: 5px 10px 5px 10px;
    border-left: 10px solid grey;
    background-color: #c4c4c4;
}
#poor {
    color: #808080;
}

div#pic {
    float: right;
    border: 2px dashed black;
    background-color: #ff6a00;
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
    margin: 15px;
    width: 350px;
    text-align: center;
}

div#pic h2 {
    font-size: 1em;
}
div#pic p {
    font-size: 1em;
}


a:visited {
    color: #3d5911;
}
a:hover {
    color: red;
}
a:link {
    color: red;
}


span.time {
    font-style: italic;
    text-decoration: underline;
    text-decoration-style: dashed;
}

p.foot {
    font-size: 1.2em;
    font-family: 'Times New Roman', Times, serif;
    clear: right;
}